fastapi
uvicorn
rasterio
geopandas
shapely
langchain
langchain-google-genai
pytest
httpx
pydantic
numpy
pystac-client
rioxarray
dask
pyproj
python-dotenv
faiss-cpu
langchain-community
langchain-chroma
